.container{
    border: 2px solid red;
    display: flex;
    flex-wrap: wrap;
    /*justify-content: space-evenly;*/
    align-items: center;
    height: 80vh;
    align-content: center;
    /*flex-direction: column;*/
}
.item{
    height: 92px;
    width: 92px;
    background-color: blueviolet;
    border: 2px solid black;
    margin: 4px;
}