* {
    margin: 0;
    padding: 0;
}

nav {
    border: 2px solid black;
    position: sticky;
    top: 0;
    background-color: rgb(233, 42, 74);
}

ul {
    display: flex;
    list-style: none;
}

ul li {
    padding: 1vh 1vw;
}

ul li a {
    text-decoration: none;
    color: aliceblue;
}

.sections {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(251, 210, 216);
    margin: 2vh 2vw;
    height: 50vw;
    justify-content: space-evenly;
    align-items: center;
}

.section {
    border: 2px solid black;
    background-color: pink;
    width: 40vw;
    height: 40vw;
}

.intro {
    border: 2px solid black;
    display: flex;
    border-radius: 5vw;
    height: 15vh;
    width: 80vw;
    margin: 5vh auto;
    padding: 0;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 3em;
}

.circle img {
    position: fixed;
    border-radius: 5vw;
    width: 3vw;
    height: 3vw;
    bottom: 0;
    right: 0;
}

#footer {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 1.5em;
    height: 3vw;
    border: 2px solid black;
    background-color: rgb(246, 230, 232);
}