*{
    margin: 0px;
    padding: 0px;
}
.box{
    border: 2px solid black;
    height: 500px;
    width: 40vw;
    margin: 3px;
    padding: 3px;
}
.box1{
   background-color: aqua; 
   position: absolute;
   /*z-index: 1;*/
   top: 0px;
   left:0px;
}
.box2{
    background-color: azure;
    /*position: relative;
    top: -30px;
    left: 20px*/
}
.box3{
    background-color: antiquewhite;
}
.box4{
    background-color: purple;
}
.parent{
    border: 2px solid black;
    margin: 10px;
    padding: 10px;
    position: absolute;
}