.container{
    border: 2px solid yellow;
    display: grid;
    grid-template-areas: "nav nav nav"
                        "side article article"
                        "footer footer footer";
}
.item{
    border: 2px solid red;
    height: 55px;
}
.item-1{
    grid-area: nav;
}
.item-2{
    grid-area: side;
}
.item-3{
    grid-area: footer;
}
.item-4{
    grid-area: article;
}

