.container{
    width: 30vw;
    height: 30vw;
    border: 2px solid black;
    background-color: azure;
}
img{
    width: 30vw;
    height: 30vh;
    object-fit: cover;
    object-position: bottom right;
}