* {
    background-color: RGB(211, 211, 211);
}

.cards {
    display: flex;
    flex-wrap: wrap;
}

.card {
    border: 2px solid rgb(188, 187, 187);
    border-radius: 1vw;
    width: 20vw;
    padding: 0.4vw;
    display: flexbox;
    background-color: white;
    margin: 0.4vw;
}

.image {
    background-color: inherit;
}

.image img {
    width: 20vw;
    height: 30vh;
    border-radius: 1vw;
    background-color: inherit;
}

.labels {
    background-color: inherit;
    display: flex;
    flex-wrap: wrap;
}

.label {
    text-transform: capitalize;
    border: 2px solid gray;
    padding: 0 0.4vw;
    border-radius: 2vw;
    border-color: rgb(230, 229, 229);
    margin: 1vh 0.2vw;
    font-size: 0.8em;
    display: inline-block;
    color: rgba(128, 128, 128, 0.996);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    background-color: inherit;
}

.heading {
    font-weight: bold;
    background-color: inherit;
    font-size: 1.5em;
    color: rgb(65, 64, 64);
    margin: 1vh 0.2vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.description {
    margin: 2.5vh 0.2vw;
    font-size: 1em;
    background-color: inherit;
    color: gray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.readmore {
    border-radius: 2vw;
    background-color: rgb(230, 237, 255);
    font-size: 0.8em;
    text-align: center;
    font-weight: 500;
    color: rgb(0, 72, 255);
    width: 5vw;
    margin: auto;
    padding: 1.5vh 1vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}