*{
            margin: 0px;
            padding: 0px;
            background-color: #0F0F0F;
            color: white;
            font-family: 'Roboto', Arial, sans-serif;
        }
        body{
            margin-top: 10px;
        }
        .container{
            display: flex;
            flex-direction: column;
        }
        .container .card{
            display: flex;
            margin: 0px 10px;
            padding: 10px 0px;
            cursor: pointer;
            border-radius: 10px;
            min-width: 573px;
            overflow: hidden;
        }
        .container .card:hover, .container .card:hover  div, .container .card:hover h2{
            background-color: #272727;
        }
        .container .card #videonumber{
            margin: auto 15px;
            color: rgba(255, 255, 255, 0.5);
        }
        .container .card .thumbnail{
            position: relative;
        }
        .container .card .thumbnail img{
            width: 300px;
            border-radius: 10px;
        }
        .container .card .thumbnail span{
            position: absolute;
            top: 140px;
            left: 250px;
            padding: 1px 4px;
            background-color: rgba(0, 0, 0, 0.516);
            border-radius: 3px;
            font-size: 13.5px;
            font-weight: bold;
        }
        .container .card .videodetails{
            display: flex;
            flex-direction: column;
            margin: 0px 15px;
            width: 100%;
        }
        .container .card .videodetails div{
            margin: 15px 0px;
            color: rgba(255, 255, 255, 0.5);
        }