*{
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    -webkit-tap-highlight-color: transparent;
}
body{
    background-color: black;
    color: white;
    margin: 8px 10px;
}
a{
    text-decoration: none;
}
#nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #dbdbdbbe;
    margin-bottom: 8px;
    position: relative;
}
#nav-left, #nav-right{
    display: flex;
    align-items: center;
}
#spotify-logo{
    margin: 0 18px;
}
#home-button{
    background-color: #282828;
    border: 0px;
    padding: 10px;
    border-radius: 50%;
    margin: 0 4px;
    cursor: pointer;
}
#home-logo{
    width: 28px;
    height: 23px;
}
#search-bar{
    display: flex;
    align-items: center;
    background-color: #282828;
    border-radius: 25px;
    font-size: 16px;
}
#search-logo{
    width: 25px;
    height: 25px;
}
#search-button{
    background-color: inherit;
    border: 0px;
    padding: 0px 10px;
    border-bottom-left-radius: inherit;
    border-top-left-radius: inherit;
    cursor: pointer;
    height: 45px;
}
#search-box{
    background-color: inherit;
    border: 0px;
    height: 25px;
    font-weight: bold;
    color: white;
    width: 240px;
    text-overflow: ellipsis;
}
#search-box:focus{
    outline: none;
}
#browse-button{
    background-color: inherit;
    border: 0px;
    border-left: 1px solid #dbdbdbbe;
    padding: 0px 10px 0px 12px;
    border-bottom-right-radius: inherit;
    border-top-right-radius: inherit;
    cursor: pointer;
}
#browse-logo{
    width: 25px;
    height: 25px;
}
.color-white{
    color: white;
}
#premium-link, #support-link, #download-link{
    color: #dbdbdbbe;
    font-weight: bold;
    margin: 0 4px;
}
#divider{
    background-color: white;
    width: 2px;
    height: 25px;
    margin: 0 15px;
}
#install-app-link{
    display: flex;
    align-items: center;
    background-color: inherit;
    border: 0px;
    color: #dbdbdbbe;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    margin: 0 14px;
    padding: 0 4px;
}
#install-app-link span{
    padding: 0 4px;
}
#download-logo{
    width: 14px;
    margin: 0 4px;
}
#sign-up-button{
    font-size: 14px;
    background-color: inherit;
    border: 0px;
    cursor: pointer;
    color: #dbdbdbbe;
    font-weight: bold;
    margin: 0 14px;
}
#log-in-button{
    background-color: white;
    border: 0px;
    color: black;
    cursor: pointer;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 25px;
    font-size: 14px;
}
#menu-button{
    display: none;
    background-color: inherit;
    border: 0px;
    cursor: pointer;
    margin-left: 14px;
}
#menu-logo{
    width: 28px;
}
#side-bar{
    background-color: #1d1d1d;
    color: white;
    position: absolute;
    top: 118%;
    right: 0;
    width: 205px;
    border-radius: 5px;
    display: none;
    z-index: 10;
}
@media (max-width: 1010px) {
    #divider {
        display: none;
    }
    #menu-button{
        display: block;
    }
}
#list-items-side-bar{
    list-style-type: none;
}
#list-items-side-bar li{
    margin: 10px 14px;
}
#list-items-side-bar li a{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#list-items-side-bar li #premium-link,#list-items-side-bar li #support-link,#list-items-side-bar li #download-link, #list-items-side-bar li #install-app-link, #list-items-side-bar li #home-button, #list-items-side-bar li #sign-log{
    font-size: 0.9em;
    color: white;
    font-weight: normal;
    padding: 0;
    margin: 0px;
}
#list-items-side-bar li #install-app-link span{
    padding: 0;
}
#list-items-side-bar li #install-app-link img{
    margin: 0;
    fill: white;
}
#list-items-side-bar li #home-button{
    display: flex;
    align-items: center;
    border-radius: 30px;
    background-color: #3a3a3ae8;
    padding: 5px 10px;
    /* border: 1px solid white; */
}
#list-items-side-bar li #home-button #home-logo{
    width: 17px;
}
#list-items-side-bar li #home-button span{
    margin-left: 8px;
    font-weight: bold;
}
#list-items-side-bar li #sign-log{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
#list-items-side-bar li #sign-log #sign-up-button{
    background-color: #363636;
    font-weight: bold;
    padding: 7px 17px;
    border-radius: 20px;
    font-weight: bold;
    color: white;
    margin: 0;
}
#list-items-side-bar li #sign-log #log-in-button{
    padding: 7px 17px;
    border-radius: 20px;
    margin: 0;
}
.link-svg{
    width: 14px;
}
#container{
    display: flex;
    gap: 8px;
}
#left{
    background-color: black;
    width: 25%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}
#leftbar-button{
    background-color: transparent;
    border: 0px;
    cursor: pointer;
    margin: 10px 0px 10px auto;
    display: flex;
    align-items: center;
}
#leftbar-button-text{
    color: white;
    font-size: 14px;
    display: none;
    margin: 0px 7px;
    font-weight: bold;
}
#arrow-left{
    width: 22px;
    height: 18px;
}
#leftcontainer{
    background-color: #121212;
    border-radius: 8px;
    padding: 0 20px;
}
#library-title{
    margin: 18px 0;
}
#main{
    background-color: black;
    width: 75%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}
#main-button{
    background-color: transparent;
    border: 0px;
    cursor: pointer;
    margin: 10px auto 10px 0px;
    display: flex;
    align-items: center;
}
#main-button-text{
    color: white;
    font-size: 14px;
    margin: 0px 7px;
    display: none;
    font-weight: bold;
}
#arrow-right{
    width: 22px;
    height: 18px;
}
#maincontainer{
    box-shadow: inset 0px 10px 70px -4em white;
    background-color: #121212;
    border-radius: 8px;
}
#trending-title, #popular-albums{
    margin: 18px 20px;
}
#trending-container, #album-container{
    display: flex;
    align-items: center;
    position: relative;
    margin: 18px 0px;
}
.cards{
    display: flex;
    overflow-x: auto;
    align-items: center;
    scroll-behavior: smooth;
}
.cards .card:first-child{
    margin-left: 20px;
}
.cards::-webkit-scrollbar {
  display: none;
}
.card{
    display: flex;
    flex-direction: column;
    padding: 8px;
    border-radius: 8px;
}
.card .song-image img{
    width: 180px;
    border-radius: 8px;
}
.title{
    margin: 5px 0;
}
.song-image{
    position: relative;
    margin-bottom: 5px;
}
.play-logo{
    display: block;
    background-color: transparent;
    width: 30px !important;
}
.play-button{
    position: absolute;
    bottom: 15px;
    right: 8px;
    background-color: #3BE477;
    border-radius: 50% !important;
    padding: 10px;
    border: 0;
    display: none;
    cursor: pointer;
}
.card:hover .play-button{
    display: block;
}
.card:hover{
    background-color: #2d2c2cc8;
}
.arrow-scroll{
    width: 22px;
    height: 18px;
}
.scroll-btn{
    background-color: #282828;
    border: 0px;
    padding: 5px;
    border-radius: 15px;
    cursor: pointer;
    top: 50%;
    position: absolute;
    z-index: 1;
    display: none;
}
.left{
    left: 10px;
}
.right{
    right: 10px;
}
#trending-container:hover .scroll-btn, #album-container:hover .scroll-btn{
    display: flex;
}
#audio-player-container{
    background-color: black;
    position: fixed;
    bottom: 0;
    display: none;
    grid-template-columns: 1fr 2fr 1fr;
    width: calc(100% - 20px);
    padding: 5px 0;
    z-index: 10;
}
#song-details{
    display: flex;
}
#song-details-image{
    width: 78px;
    border-radius: 4px;
}
#song-details-title-and-description{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 20px;
}
#song-details-title{
    font-size: 14px;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
#song-details-description{
    font-size: 14px;
    color: #dbdbdbbe;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
#mid-audio-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#audio-player{
    display: none;
}
#song-control{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3px 0;
}
#before-image{
    width: 20px;
}
#before-song-button{
    background-color: transparent;
    border: 0;
    margin-right: 20px;
    cursor: pointer;
}
#play-pause-image{
    background-color: transparent;
    width: 20px;
}
#play-pause-button{
    padding: 5px 7px;
    border-radius: 50%;
    cursor: pointer;
}
#next-image{
    width: 20px;
}
#next-song-button{
    background-color: transparent;
    border: 0;
    margin-left: 20px;
    cursor: pointer;
}
#progress{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;
}
#progress-bar{
    appearance: none;
    -webkit-appearance: none;
    border-radius: 10%;
    margin: 0px 8px;
    width: 80%;
    cursor: pointer;
    background: linear-gradient(
    to right,
    white 0%,
    white var(--seek),
    #555 var(--seek),
    #555 100%
  );
}
#progress-bar::-webkit-slider-runnable-track {
    height: 4px;
    border-radius: 2px; 
}
#progress-bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    opacity: 0;
    margin-top: -4px;
    width: 12px;
    height: 12px;
    background: white;
    border-radius: 50%;
}
#progress-bar:hover::-webkit-slider-thumb {
  opacity: 1;
}
#progress-bar:hover{
    background: linear-gradient(
    to right,
    rgba(29, 185, 84) 0%,
    rgba(29, 185, 84) var(--seek),
    #555 var(--seek),
    #555 100%
  );
}
#currentTime, #duration{
    font-size: 14px;
    color: #dbdbdbbe;
}
#audio-right{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#volume-control{
    display: flex;
    align-items: center;
    width: 70%;
}
#add-or-remove-image{
    width: 20px;
}
#add-or-remove-library-button{
    background-color: transparent;
    border: 0;
    cursor: pointer;
}
#volume-image{
    width: 20px;
}
#volume-button{
    background-color: transparent;
    border: 0;
    cursor: pointer;
}
#volume-bar{
    appearance: none;
    -webkit-appearance: none;
    border-radius: 10%;
    margin: 0px 8px;
    width: 100%;
    cursor: pointer;
    background: linear-gradient(
    to right,
    white 0%,
    white var(--percent),
    #555 var(--percent),
    #555 100%
  );
}
#volume-bar::-webkit-slider-runnable-track {
    height: 4px;
    border-radius: 2px; 
}
#volume-bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    opacity: 0;
    margin-top: -4px;
    width: 12px;
    height: 12px;
    background: white;
    border-radius: 50%;
}
#volume-bar:hover::-webkit-slider-thumb {
  opacity: 1;
}
#volume-bar:hover{
    background: linear-gradient(
    to right,
    rgba(29, 185, 84) 0%,
    rgba(29, 185, 84) var(--percent),
    #555 var(--percent),
    #555 100%
  );
}
/* @media (max-width:952px){
    #volume-bar{
        display: none;
    }
    #audio-player-container{
        grid-template-columns: 1fr 2fr 0.5fr;
    }
} */
@media (max-width:952px){
    #song-control{
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
    }
    #mid-audio-section, #song-control, #progress{
        width: 100%;
        align-items: center;
    }
    #song-details-image{
        width: 44px;
    }
    #add-or-remove-library-button, #next-song-button, #before-song-button{
        margin: 0;
    }
    #audio-right{
        gap: 26px;
    }
    #progress-bar{
        width: 90%;
    }
}
@media (max-width:564px){
    #volume-bar{
        display: none;
    }
}
@media (max-width:461px){
    #song-details-description, #song-details-title{
        width: 90px;
    }
}
#library-cards{
    display: flex;
    overflow-y: auto;
    scroll-behavior: smooth;
    flex-direction: column;
}
.library-card{
    display: flex;
    border-radius: 8px;
    justify-content: space-between;
    padding: 8px;
    margin: 4px 0;
}
.library-card:hover{
    background-color: #2d2c2cc8;
}
.library-song-details{
    display: flex;
    gap: 12px;
}
.library-song-title-description{
    display: flex;
    flex-direction: column;
    font-size: 13px;
    justify-content: space-around;
    color: #dbdbdbbe;
}
.library-song-image{
    width: 44px;
    border-radius: 4px;
}
.library-song-title{
    font-weight: bold;
}
.library-play-image, .library-remove-image{
    width: 20px;
    filter:
    drop-shadow(0.80px 0 0 #dbdbdbbe)
    drop-shadow(-0.80px 0 0 #dbdbdbbe)
    drop-shadow(0 0.80px 0 #dbdbdbbe)
    drop-shadow(0 -0.80px 0 #dbdbdbbe);
}
.library-play-button, .library-song-remove{
    background-color: transparent;
    border: 0;
    cursor: pointer;
}
.library-control{
    display: flex;
    gap: 18px;
}