*{
    padding: 0px;
    margin: 0px;
}
li{
    list-style: devanagari;
    border: 2px solid black;
    background-color: yellow;
    list-style-position: inside;
    padding: 0px 23px;
}
ul{
    display: flex
}
div{
    display: flex;
}