*{
    margin: 0;
    padding: 0;
}
.box{
    background-color: aqua;
}
.box1{
    color: yellow;
    padding: 10px;
    border: black solid 2px;
    margin: 5px;
    height: 200px;
    box-sizing: border-box;
}
.box2{
    color: red;
    padding: 10px;
    border: black solid 2px;
    margin: 5px;
    height: 200px;
    box-sizing: border-box;
}
