body{
    background-color: red;
}
@media only screen and (max-width: 500px){
    body{
        background-color: blue;
    }
    .boxes{
        flex-direction: column;
    }
}
.boxes{
    display: flex;
}
.box{
    width: 200px;
    height: 200px;
    background-color: steelblue;
    padding: 10px;
    margin: 10px;
}